* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.con {
  max-width: 1400px;
  margin: auto;
  padding: 0px 32px;
}

nav {
  width: 100%;
  height: 100px;
  background-color: rgba(34, 139, 34, 0.5);
  position: fixed;
}
nav .hr {
  width: 100%;
  height: 5px;
  background-color: #d61c22;
}
nav .ndiv {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .ndiv .nd1 {
  width: 10%;
  height: 75px;
  border: 2px solid white;
  border-radius: 15px;
  text-align: center;
}
nav .ndiv .nd1 a {
  text-decoration: none;
  color: white;
}
nav .ndiv .nd1 a h1 {
  font-size: 38px;
}
nav .ndiv .nd2 {
  width: 60%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}
nav .ndiv .nd2 div {
  width: 15%;
  height: 50px;
  display: flex;
  align-items: center;
}
nav .ndiv .nd2 div a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
nav .ndiv .nd2 div a:hover {
  color: #d61c22;
}
nav .ndiv .nd3 {
  width: 10%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .ndiv .nd3 a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
nav .ndiv .nd3 a:hover {
  color: #d61c22;
}

header {
  width: 100%;
  height: 660px;
  background-image: url("https://preview.colorlib.com/theme/pato/images/master-slides-01.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
header .hdiv {
  width: 100%;
  height: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 20px;
}
header .hdiv p {
  font-family: cursive;
  font-size: 64px;
}
header .hdiv h1 {
  font-size: 104px;
  letter-spacing: 4px;
}
header .hdiv a {
  width: 120px;
  height: 40px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #d61c22;
}
header .hdiv a:hover {
  background-color: #d61c22;
  color: white;
}

section {
  width: 100%;
  height: 700px;
  background-color: rgb(230, 230, 255);
}
section .sdiv {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
section .sdiv div {
  width: 45%;
  height: 500px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}
section .sdiv div h3 {
  font-family: monospace;
  font-size: 24px;
  color: darkred;
}
section .sdiv div h2 {
  font-size: 62px;
}
section .sdiv div a {
  text-decoration: none;
  color: black;
}
section .sdiv div a:hover {
  color: #d61c22;
}
section .sdiv div img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
section .sdiv div:hover img {
  transform: scale(1.05);
}

.sec2 {
  width: 100%;
  height: 400px;
  background-image: url("https://preview.colorlib.com/theme/pato/images/bg-intro-01.jpg.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.sec2 .sdiv2 {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.sec2 .sdiv2 h3 {
  color: #d61c22;
  font-size: 40px;
  font-family: monospace;
}
.sec2 .sdiv2 h1 {
  color: white;
  font-size: 60px;
}

.sec3 {
  width: 100%;
  height: 700px;
  background-color: rgb(213, 213, 213);
}
.sec3 .sdiv3 {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec3 .sdiv3 .sd {
  width: 30%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sec3 .sdiv3 .sd a {
  text-decoration: none;
  color: black;
}
.sec3 .sdiv3 .sd a:hover {
  color: #d61c22;
}
.sec3 .sdiv3 .sd .img {
  width: 100%;
  height: 50%;
  border-radius: 15px;
  overflow: hidden;
}
.sec3 .sdiv3 .sd .img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.sec3 .sdiv3 .sd .img:hover img {
  transform: scale(1.05);
}

.sec4 {
  width: 100%;
  height: 1000px;
  background-color: wheat;
}
.sec4 .sdiv4 {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec4 .sdiv4 .sd1 {
  width: 40%;
  text-align: center;
}
.sec4 .sdiv4 .sd1 p {
  font-family: 1;
  font-size: 30px;
  color: #d61c22;
}
.sec4 .sdiv4 .sd1 h1 {
  font-size: 60px;
  letter-spacing: 15px;
}
.sec4 .sdiv4 .sd2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
}
.sec4 .sdiv4 .sd2 div {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.sec4 .sdiv4 .sd2 div a {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  color: black;
  text-decoration: none;
  top: calc(100% - 40px)/2;
  left: calc(100% - 100px)/2;
}
.sec4 .sdiv4 .sd2 div a:hover {
  background-color: #d61c22;
  color: white;
}
.sec4 .sdiv4 .sd2 div:hover img {
  transform: scale(1.05);
}
.sec4 .sdiv4 .sd2 div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.sec4 .sdiv4 .sd2 .s1 {
  grid-column: 1/2;
  grid-row: 1/3;
}
.sec4 .sdiv4 .sd2 .s2 {
  grid-column: 2/3;
  grid-row: 1/3;
}
.sec4 .sdiv4 .sd2 .s3 {
  grid-row: 1/2;
  grid-column: 3/4;
}
.sec4 .sdiv4 .sd2 .s4 {
  grid-row: 2/3;
  grid-column: 3/4;
}
.sec4 .sdiv4 .sd2 .s5 {
  grid-column: 1/3;
  grid-row: 3/4;
}
.sec4 .sdiv4 .sd2 .s6 {
  grid-row: 3/4;
  grid-column: 3/4;
}/*# sourceMappingURL=style.css.map */